/* You can add global styles to this file, and also import other style files */
@import url(../src/assets/css/style.css);
@import url(../src/assets/css/bootstrap.css);
@import url(../src/assets/css/responsive.css);


/* Global Button */
      .global-btn {
        margin: auto;
        position: relative;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5em 2em;
        display: inline-block;
        border-radius: 6em;
        transition: all 0.2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: white;
        background-color: red;
      }
      
      .global-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      
      .global-btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      
      .global-btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
      }
      
      .global-btn::after {
        background-color: red;
      }
      
      .global-btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
      